*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: aqua;
    color: rgb(255, 254, 254);
    font-size: ;
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    height: 70px;


}
#searchbar{
    
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    

}
#searchbar input{

    padding: 10px 20px;
    border-radius: 1px solid red;
    border-radius: 40px;

}
nav ul{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    font-size: 25px;
}
main{

min-height: 90vh;
}
#sec1{
    height: 80vh;
     background-image: url(https://wallpapercave.com/wp/wp9012018.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}